/** 
Google font styles
font-family: 'Caveat', cursive;
font-family: 'Pixelify Sans', sans-serif;
**/

html {
  background-color: lightblue;
}

/** title **/
#title {
  text-align: center;
  border: 50px;
  font-family: 'Pixelify Sans', sans-serif;
  size: 300px;
}

/** for grid **/ 
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch {
  flex: 1;
  margin: 50px;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

button {
  margin-bottom: 10px; /* Adjust the margin as needed */
  color: yellow;
  background-color: orangered;
  border:3px red;
  padding: 14px 40px;
  border-radius: 12px;
}

button:hover {
  background-color: lightgreen;
  color: blue;
}

.grid {
  display: flex;  
  border: 1px solid #000;
  width: 258px; /* (16 cells * 16px) + (16 borders * 1px) = 258px */
}

.column {
  flex: 1;  /* same width */
  border-right: 1px solid #000;
  width: 16px;
  float: left; /* This makes columns float next to each other */
}

.cell {
  background: white;
  text-align: center;
  border-bottom: 1px solid #000;
  height: 16px;
}

/** footer **/ 
footer {
  text-align: center;
  font-family: 'Caveat', cursive;
  color: darkblue;
}